<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="shared-styles.html">

<dom-module id="home-movements">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <iron-ajax
       id="getQuoteAjax"
       auto
       url="http://localhost:3001/api/movimientos"
       method="get"
       handle-as="json"
       last-response="{{quote}}"></iron-ajax>

    <div class="card">
      <h1>Movements</h1>
      <paper-button class="primary" raised on-tap="getQuote">Get a New Quote</paper-button>


      <paper-checkbox checked="{{editing}}" style="margin-bottom: 20px">Enable Editing</paper-checkbox>
      <vaadin-grid aria-label="Two-way Binding Example" items="[[quote]]">
          <vaadin-grid-column>
              <template class="header">Nombre</template>
              <template>
                  <div>[[item.nombre]]</div>
              </template>
          </vaadin-grid-column>
          <vaadin-grid-column width="200px">
              <template class="header">Nombre</template>
              <template>
                  <div>[[item.apellido]]</div>
              </template>
          </vaadin-grid-column>
      </vaadin-grid>

    </div>

  </template>

  <script>
    (function() {
      Polymer({
        is: 'home-movements',

        getQuote: function() {
          this.$.getQuoteAjax.generateRequest();
        }
      });
    }());
  </script>
</dom-module>
