<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">



<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      a {
        color: var(--primary-color);
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <iron-ajax
      id="registerLoginAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="handleUserResponse"
      on-error="handleUserError"></iron-ajax>

    <div class="card">
      <form id="form" is="iron-form" method="get">

      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Log In</h1>

        <p><strong>Log in</strong> or <strong>sign up</strong> to access to your Micro Bank movements!</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label>Username</label>
          <input is="iron-input" id="username" type="text" bind-value="{{formData.username}}" required>
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <input is="iron-input" id="password" type="password" bind-value="{{formData.password}}" required>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
        </div>

        <paper-input-container>
          <label>Nombre</label>
          <input is="iron-input" id="nombre" type="text" bind-value="{{formData.nombre}}">
        </paper-input-container>

        <paper-input-container>
          <label>Apellido</label>
          <input is="iron-input" id="apellido" type="text" bind-value="{{formData.apellido}}">
        </paper-input-container>


        <paper-input-container>
          <label>Email</label>
          <input is="iron-input" id="email" auto-validate required type="email" bind-value="{{formData.email}}">
        </paper-input-container>


        <div class="wrapper-btns">
          <paper-button raised class="link" on-tap="postRegister">Sign Up</paper-button>
        </div>
      </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hello, [[storedUser.idCliente]]!!!</h2>
        <p>You are currently logged in. You can access <a href="/secret-movements">Secret Movements</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>

    </form>
    </div>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'register-login',

        properties: {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String
        },
        _setReqBody: function() {
          this.$.registerLoginAjax.body = this.formData;
        },

        postLogin: function() {
          this.$.registerLoginAjax.url = 'http://localhost:3001/sessions/create';
          this._setReqBody();
          this.$.registerLoginAjax.generateRequest();
        },

        validateemail: function() {
          return ((this.formData.email != null) & (this.formData.email != ""))
        },
        validatenombre: function() {
          return ((this.formData.nombre != null) & (this.formData.nombre != ""))
        },
        validateapellido: function() {
          return ((this.formData.apellido != null) & (this.formData.apellido != ""))
        },

        postRegister: function() {
          var validated = true;
          this.error = "";

          if (!this.validateemail()){
            validated=false
            this.error = "Introducir email valido";
          }
          if (!this.validateapellido()){
            validated=false
            this.error = "Introducir apellido valido";
          }
          if (!this.validatenombre()){
            validated=false
            this.error = "Introducir nombre valido";
          }

          if (validated ){
            this.$.registerLoginAjax.url = 'http://localhost:3001/users';
            this._setReqBody();
            this.$.registerLoginAjax.generateRequest();
          }
        },
        handleUserResponse: function(event) {
          var response = JSON.parse(event.detail.response);

          if (response.id_token) {
            this.error = '';
            this.storedUser = {
              name: response.username,
              nombre: response.nombre,
              apellido: response.apellido,
              email: response.email,
              id_token: response.id_token,
              access_token: response.access_token,
              idCliente: response.idCliente,
              loggedin: true
            };

            // redirect to Secret movements
            this.set('route.path', '/secret-movements');
          }

          // reset form data
          this.formData = {};
        },

        handleUserError: function(event) {
          this.error = event.detail.request.xhr.response;
        }
      });
    }());
  </script>
</dom-module>
