/*

Parametro idCliente
Consulto numeros de cuenta de ese idCliente
Los agrego a un Combobox

Combobox fijo de tipos de movimientos
Extraccion
Consumo
Deposito
Pago

Uso idcliente, idcuenta  para traer todos movimeintos
filtro por tipo moviemnto
*/


<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel='import' href='../bower_components/polymer/polymer.html'>
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button-animations.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="secret-movements">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>


    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <app-data key="userData" data="{{storedUser}}"></app-data>

      <iron-ajax
        id="getMovementAjax"
        method="get"
        url="http://localhost:3001/api/protected/movimientos/"
        handle-as="json"
        last-response="{{movement}}">
      </iron-ajax>

      <iron-ajax
        id="getCuentasAjax"
        method="get"
        url="http://localhost:3001/api/protected/cuentas/"
        handle-as="json"
        last-response="{{cuentas}}">
      </iron-ajax>



      <div class="card">
      <h1>Movements</h1>

      <div hidden$="[[!storedUser.loggedin]]">
        <p>Hello, [[storedUser.name]]!! You have access to movements:</p>

        <h3>Seleccionar tipo de movimiento</h3>
          <paper-dropdown-menu no-animations="false" on-iron-select="_movementTypeSelected">
                   <paper-listbox  slot = "dropdown-content">
                      <paper-item>extraccion</paper-item>
                      <paper-item>deposito</paper-item>
                      <paper-item>compra</paper-item>
                      <paper-item>debito</paper-item>
                      <paper-item>transferencia</paper-item>
                   </paper-listbox>
          </paper-dropdown-menu>
          <paper-button class="primary" raised on-tap="getMovement">Obtener los movimientos</paper-button>
          <paper-button class="primary" raised on-tap="getCuentas">Obtener las cuentas</paper-button>

          <paper-dropdown-menu label="test" no-animations="false"  on-iron-select="_accountSelected">
            <paper-listbox slot="dropdown-content" id="listbox">
              <template is="dom-repeat" items="{{cuentas}}">
                <paper-item>{{item.idCuenta}}</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>

          <div class="container">
              <div class="row">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Tipo Movimiento</th>
                  </tr>
                </thead>
                  <tbody>
                    <template is="dom-repeat" items="{{movement}}" index-as="index" filter="_isNotFiltered">
                      <tr>
                        <td> [[item.fecha]] </td>
                        <td> [[item.importe]] </td>
                        <td> [[item.type]] </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>

      </div>

      <p hidden$="[[storedUser.loggedin]]">You must <a href="/register-login">log in</a> to access movements!</p>
    </div>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'secret-movements',

        properties: {
          storedUser: Object,
          movementTypeSelected: Object,
          accountSelected: Object,
          cuentas: Object
        },

        ready() {
          super.ready();
          this.getCuentas();
        },

        initStoredUser: function() {
          // if entering site on the secret movements page, verify if logged in and if so, preload a secret movement
          if (this.storedUser.loggedin) {
            this.getMovement();
          }
        },

        _isNotFiltered: function(movement) {
          if (!movement) return false;
          return movement.type == this.movementTypeSelected;
        },

        _movementTypeSelected: function(e){
          var selectedItem = e.target.selectedItem;
          if (selectedItem) {
            this.movementTypeSelected = selectedItem.innerText;
            this.getMovement();
          }
        },
        _accountSelected: function(e){
          var selectedItem = e.target.selectedItem;
          if (selectedItem) {
            this.accountSelected = selectedItem.innerText;
            this.getMovement();
          }
        },

        getMovement: function() {
          this.$.getMovementAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
          this.$.getMovementAjax.params={"idCliente":this.storedUser.idCliente,"idCuenta":this.accountSelected};
          this.$.getMovementAjax.generateRequest();
        },

        getCuentas: function() {
          this.$.getCuentasAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
          this.$.getCuentasAjax.params={"idCliente":this.storedUser.idCliente};
          this.$.getCuentasAjax.generateRequest();
          console.log(this.cuentas)
        }



      });
    }());
  </script>
</dom-module>
